@{
  Layout = "_Layout";
}

@model Shelter.Models.Animal


<h2>Dino Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
<h3>Date of admittance: @Html.DisplayFor(model => model.DateOfAdmittance)</h3>