@{
  Layout = "_Layout";
}

<h1>Welcome to JURASSIC PARK's DINOSAUR SHELTER! <br> Adopt a DINOSAUR today!</h1>
<p>@Html.ActionLink("See all dinosaurs", "Index", "Animals")</p>

<img class="home-img" src='~/img/home-page.jpg' />